.site-header.video-header {
	background-color: #000;
	color: #000;

	.hero,
	aside.primer-hero-text-widget {
		position: relative;
		z-index: 5;
	}

	#wp-custom-header {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;

		img {
			display: none;
		}
	}

	#wp-custom-header-video-button {
		display: none;
	}

	iframe#wp-custom-header-video {
		height: 100%;
		max-width: 100%;
	}

}

.hero {
	@include container($container-size);

	color: white;
	padding: 2rem 0;
	clear: both;

	@media #{$medium-up} {
		padding: 3rem 0;
	}

	.hero-inner {
		@include span(12);

		padding: 0 1rem;

		@media #{$medium-up} {
			@include span(8);
		}
	}

	.widget {
		margin-bottom: 3rem;
		font-size: 1.2em;
		font-weight: 300;
		background: none;
		color: white;
		padding: 0;

		.widget-title {
			color: white;
			font-size: 3rem;
			line-height: 1;
			text-align: left;
		}

		a.button {
			font-family: $font__main;
			text-transform: uppercase;
			letter-spacing: 1px;
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
			color: white;
			border-bottom: 2px solid rgba(255, 255, 255, 0.8);
			transition: 50ms linear border-color;

			&:after {
				content: ' \25b6';
				font-size: .5rem;
				padding-left: 5px;
				position: relative;
				top: -2px;
				transition: 75ms ease-in-out padding;
			}

			&:hover {
				border-color: white;
				background-color: transparent;

				&:after {
					padding-left: 10px;
				}
			}
		}

		@media #{$medium-up} {

			.widget-title {
				color: white;
				font-size: 5.5rem;
				line-height: 1;
				text-align: left;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		cite,
		table,
		ul,
		li,
		dd,
		dt,
		address,
		code,
		pre {
			color: #fff;
		}

		ul, ol {
			padding-left: 0;

			li {
				list-style: none;
			}
		}

		input, select, textarea {
			color: $color__text-input;
		}
	}

	label, input, select, textarea {
		display: inline;
		width: auto;
	}
}

@media #{$webkit} {

	html :lang(hi) h2.widget-title,
	html :lang(mr) h2.widget-title {
		font-family: -webkit-body;
	}

}
