@media only screen and (min-width: 64.063em) {

	.footer-widget-area .footer-widget {
		width: 33%;
	}

}

.footer-widget-area {

	.footer-widget {

		.widget {
			background-color: transparent;
			font-size: .875rem;

			ul,
			li,
			a,
			p {
				font-size: .875rem;
			}

		}

		.widget-title {
			border-bottom: none;
			font-size: 1rem;
			font-style: normal;
			text-transform: uppercase;
		}

	}

}

.site-info-wrapper {
	background: $color-footer;
	color: $color-label;
	margin: 0 auto;
	padding: 50px 0;

	a {
		color: $color-label;
	}

}

.footer-nav {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			font-size: .875rem;
			margin: 0 15px;
			text-align: center;
			text-transform: uppercase;

			@media only screen and (min-width: 64.063em) {
				text-align: left;
			}

			a {
				color: $color-white;
			}

		}

	}

}

.site-info-wrapper {

	.site-info {
		overflow: visible;
		padding: 0 20px;

		.social-menu {

			a {
				background: none;
			}

		}

	}

}

.site-info-text {
	font-size: .875rem;
}

.social-menu {
	position: relative;
	top: -20px;
}
