.site-footer {
	background-color: $color-widget-bg;
}

@media only screen and (min-width: 64.063em) {

	.footer-widget-area .footer-widget {
		width: 33%;
	}

}

.footer-widget-area {

	.footer-widget {

		.widget {
			background-color: transparent;
			font-size: .875rem;
			padding: 0;

			h1,h2,h3,h4,h5,h6{
				color: $color-white;
			}

			ul,
			li,
			a,
			p {
				font-size: .875rem;
			}

		}

		.widget-title {
			border-bottom: none;
			font-size: 1rem;
			font-style: normal;
			text-transform: uppercase;
		}

	}

}

.site-info-wrapper {
	background: $color-footer;
	color: $color-label;
	margin: 0 auto;
	padding: 0 0 20px;

	a {
		color: $color-label;
	}

}

.site-footer-inner {
	background: $color-footer;

	.footer-menu {

		margin: 0 auto;
		padding: 30px 0;

		@extend .row;

		@media only screen and (min-width: 64.063em) {
			padding: 30px 0 0 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;

			@media only screen and (min-width: 64.063em) {
				text-align: left;
			}

			li {
				display: inline-block;
				font-size: .875rem;
				font-weight: 600;
				margin: 0 10px;
				text-align: center;
				text-transform: uppercase;

				@media only screen and (min-width: 64.063em) {
					text-align: left;
				}

				a {
					color: $color-white;
				}

			}

		}

	}
}

.site-info-wrapper {

	.site-info {
		overflow: visible;
		padding: 0 20px;

		.social-menu {

			a {
				background: none;
			}

		}

	}

}

.site-info-text {
	font-size: .875rem;
}

.social-menu {
	position: relative;
	top: -20px;
}
