input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {

}

label {
	text-transform: uppercase;
}

input[type="submit"],
.button,
.btn,
.fl-button,
.fl-button a,
button {
	background: none;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid $color-button;
	border-radius: 0;
	font-size: .875rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}
