.site-header {


	.home & {
		background: url('.dev/img/header.png') no-repeat center center;
		background-size: cover;
		height: 100vh;
		width: 100vw;
	}

}

.site-header-wrapper {
	border-bottom: 1px solid $color-border;

	.home & {
		border-bottom: 1px solid $color-white;
	}

}

.hero {
	left: auto;
	position: static;
	top: auto;
}

.site-title-wrapper {
	float: left;
	padding: 0;
	width: auto;
}

.site-title {
	font-size: 2rem;
	font-weight: 100;
	margin: 38px 0;
	padding: 0;
	text-transform: uppercase;

	a {
		color: $color-text;

		.home & {
			color: $color-white !important;
		}

	}

	span.site-description {
		font-size: .875rem;
		font-weight: 100;
		position: relative;
		top: -4px;

		.home & {
			color: $color-white;
		}

	}

}

.row,
.footer-widget-area {
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

@media only screen and (min-width: 64.063em) {

	.row,
	.footer-widget-area {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

}
