.site-header {
	height: 100vh;
	width: 100vw;
}

.site-header-wrapper {
	border-bottom: 1px solid $color-white;
}

.site-title-wrapper {
	float: left;
	padding: 0;
	width: auto;
}

.site-title {
	margin: 38px 0;
	padding: 0;

}
