.main-navigation-container {
	background: none;
	float: right;
}

.site-header .site-header-wrapper .main-navigation {
	margin: 0;
}

.main-navigation .menu-main-menu-container {
	float: none;
	margin-left: 0;
	margin-right: 0;
	width: auto;
}

.menu-toggle {
	display: block;
	float: right;
	position: relative;
	float: right;
	top: 25px;

	@media screen and (min-width: 600px) {
		display: block;
	}

	@media screen and (min-width: 1050px) {
		display: none;
	}

}

.main-navigation {
	background: none;
	margin: 0;

	@media screen and (min-width: 600px) {
		display: none;
	}

	@media screen and (min-width: 1050px) {
		display: block;
		position: relative;
		z-index: auto;
	}

	ul {

		li {
			margin: 49px 12px;

			a {
				color: $color-text;
				font-size: .9375rem;
				font-weight: bold;
				padding: 0;
				text-transform: uppercase;

				.home & {
					color: $color-white;
				}

			}

		}

	}

}
