.main-navigation-container {

	@media screen and (min-width: 1050px) {
		background: none;
		float: right;
	}

	@media screen and (max-width: 800px) {
		background-color: transparent;
		clear: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 67px;
		z-index: 9999999;
	}

}

.site-header .site-header-wrapper .main-navigation {
	margin: 0;
}

.main-navigation .menu-main-menu-container {
	float: none;
	margin-left: 0;
	margin-right: 0;
	width: auto;
}

.menu-toggle {
	display: block;
	float: left;
	position: relative;
	z-index: 999999;
	top: 9px;

	@media screen and (min-width: 600px) {
		display: block;
	}

	@media screen and (min-width: 1050px) {
		display: none;
	}

}

.main-navigation {
	background: transparentize($color-widget-bg, .05);

	@media screen and (max-width: 1049px) {
		margin: 0;
	}

	@media screen and (min-width: 600px) {
		display: none;
	}

	@media screen and (min-width: 1050px) {
		background: none;
		display: block;
		position: relative;
		z-index: auto;
	}

	@media screen and (max-width: 800px) {
		padding: 15px 0;
	}

	ul {
		text-align: center;

		@media screen and (min-width: 1050px) {
			text-align: left;
		}

		li {
			margin: 15px;

			@media screen and (min-width: 1050px) {
				margin: 49px 12px;
			}

			@media screen and (max-width: 800px) {
				padding: 12px 0;
			}

			a {
				font-size: .9375rem;
				font-weight: bold;
				padding: 0;
				text-transform: uppercase;
				color: $color-white;

			}

			.sub-menu {
				background-color: transparent;

				li {
					background-color: #0b3954;
					padding: 12px;
					margin: 0;

					a {

					}

				}

			}

		}

	}

}

.main-navigation {
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a,
	a:hover,
	a:visited:hover{
		background: none;
	}
}
