// Fonts
$primary-font:   "Roboto";
$secondary-font: "Playfair Display";
$heading-font:   $secondary-font;

// Colors
$header-textcolor:        #ffffff;
$background-color:        #ffffff;
$header-background-color: #51748e;
$menu-background-color:   #51748e;
$footer-background-color: #212121;
$tagline-text-color:      #ffffff;
$link-color:              #51748e;
$main-text-color:         #222222;
$secondary-text-color:    #686868;
$button_color:            #8e452a;
