/*--------------------------------------------------------------
>>> Gutenberg:
--------------------------------------------------------------*/
.wp-block-cover-image {
	margin-bottom: 1.5rem;
}

.alignfull {
	width: 100.5vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	@media #{$small-only} {
		width: 100vw;
	}

	img {
		width: 100%;
	}
}

.alignwide {
	margin-left: -1.5%;
	margin-right: -1.5%;
	width: 102%;

	@media #{$medium-only} {
		margin-left: -1.25%;
		margin-right: -1.25%;
		width: 102.5%
	}
}

.wp-block-image,
.wp-block-gallery,
.wp-block-video,
.wp-block-quote,
.wp-block-text-columns,
.entry-content ul,
.entry-content ol,
.wp-block-cover-text {
	&.alignleft {
		margin: 0 1em 0.5em 0;
	}

	&.alignright {
		margin: 0 0 0.5em 1em;
	}

	&.alignleft,
	&.alignright {
		max-width: 40%;
		width: 100%;

		img {
			width: inherit;
		}
	}
}

.wp-block-gallery {
	margin-left: 0;
	margin-right: 0;

	&.is-cropped .blocks-gallery-item img {
		height: auto;
	}
}

.wp-block-quote {
	p {
		margin-bottom: 0;
	}
}

.wp-block-pullquote {
	margin-top: 1em;
	margin-bottom: 1em;
}

.wp-block-button.aligncenter {
	margin-bottom: 1.5em;
}

.wp-block-audio {
	audio {
		width: 100%;
	}
}
