.main-navigation-container {
	clear: both;

	@media #{$small-only} {
		@include clearfix;

		width: 100%;
		position: relative;
	}

	@media #{$medium-up} {
		clear: none;
		float: right;
	}
}

.main-navigation {
	font-size: 1rem;
	font-weight: 500;
	display: none;

	&.open {
		display: block;

		@media #{$small-only} {
			margin-top: 25px;
		}
	}

	&:not(.open) ul.menu > li {
		&.current_page_item > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a,
		&.current_page_parent > a,
		&.current-menu-ancestor > a {
			border-color: white;
		}
	}

	@media #{$small-only} {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}

	@media #{$medium-up} {
		display: block;
	}

	.menu-main-menu-container {
		@media #{$medium-up} {
			width: auto;
			text-align: center;
		}
	}

	.expand {
		font-size: 1.8rem;
		position: absolute;
		right: 0;
		top: 0;
		padding: 19px 0;
		width: 50px;
		line-height: 1;
		text-align: center;
		border-bottom: none;
		border-left: 2px solid rgba(0, 0, 0, 0.05);
		text-indent: 0;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:before {
			content: "+";
		}

		@media #{$medium-up} {
			display: none;
		}
	}

	.menu-item-has-children {
		position: relative;

		&.open > .expand:before {
			content: "-";
		}
	}

	@media #{$small-only} {

		li li {
			text-indent: 1rem;
		}

		li li li {
			text-indent: 1.5rem;
		}

		.open > .sub-menu {
			display: block;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		&.menu > li {
			> a {
				border-top: 3px solid transparent;
			}

			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current_page_parent > a,
			&.current-menu-ancestor > a {
				font-weight: 700;
			}
		}

		a {
			color: white;
			display: block;
			padding: 1.2em .75em;
			border-bottom: 2px solid rgba(0, 0, 0, 0.05);

			@media #{$medium-up} {
				padding-top: 2.9em;
				padding-bottom: 2.9em;
				border-bottom: none;
			}
		}

		ul {
			z-index: 99999;
			display: none;

			a {
				@media #{$medium-up} {
					padding: 1em .75em;
					text-align: left;
				}
			}

			@media #{$medium-up} {
				display: block;
				position: absolute;
				left: -999em;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	@media #{$medium-up} {

		li {
			position: relative;
			display: inline-block;
		}

		a {
			text-decoration: none;
			padding: .25em .75em;
			color: $color__text-menu;
			text-transform: uppercase;
		}
	}

	.sub-menu .menu-item-has-children > a::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		right: 10px;
		top: 50%;
		border-bottom: 7px solid transparent;
		border-top: 7px solid transparent;
		border-left: 7px solid $color__text-menu;
		transform: translateY(-50%);
		display: none;

		@media #{$medium-up} {
			display: inline;
		}
	}
}

body.no-max-width .main-navigation {
	max-width: none;
}

.menu-toggle {
	display: inline-block;
	margin: 0 auto;
	width: 3.9rem;
	padding: 0.6rem;
	cursor: pointer;
	position: absolute;
	z-index: 9999;
	right: 20px;
	top: 20px;

	@media #{$medium-up} {
		display: none;
	}

	div {
		background-color: $color__text-menu;
		height: 0.25rem;
		margin: 0.43rem;
		transform: rotate(0deg);
		transition: .15s ease-in-out;
		transform-origin: left center;
	}

	&.open div {
		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
